#reactRoot{
  background-color: black;
  border-radius: 30px;
}
#header{
  padding-top: 5px;
  height: 50px;
  border-bottom: 3px solid orange;
}
#headLine{
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
}
#content{
  justify-content: center;
  color: white;
  height: 450px;
}
.inputReq{
  font-weight: bold;
  color: red
}
#showTipsPopUp{
  position: absolute;
  top: 100px;
  left: 100px;
  display: block;
  color: black;
  /* border-radius: 30px; */
  width: 250px;
  height: 60px;
  background-color: white;
}
/* ============== View 1 ============== */
#view1{
  display: block;
}
#labelContainer{
  position: relative;
  top: 152px;
  width: 100%;
  text-align: center;
}
#userContainer{
  position: relative;
  top: 168px;
  left: calc(50% - 30%);
  width: 60%;
  display: flex;
  justify-content: space-around;
}
#usernameStr{
  width: 95px;
}
#usrStrView1{
  font-size: 18px;
}
#usernameBtn{

}

/* ============== View 2 ============== */
#view2{
  position: relative;
  top: 200px;/*-15px;*/
  left: 63px;
  display: block;
  width: 75%;
  height: 445px;
  border-radius: 30px;
  background-color: white;
  color: black;
}
#chatWindow{
  width: 100%;
  text-align: center;
  font-size: 18px;
}
#closeBtn{
  position: relative;
  left: 281px;
  top: -39px;
}
#usrStrView2{
  position: absolute;
  top: 14px;
  right: 15px;
  font-size: 16px;
}
#yourUsrName{
  font-size: 14px;
  font-weight: bold;
}
fieldset{
  border: none;
}
.messagnesReceive{
  height: 198px;
  overflow-x: hidden;
}
.messContainer{
  padding-left: 3px;
  padding-bottom: 3px;
}
.messContainer p{
  margin-top: 1px;
}
.messHeader{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 98%;
  border-bottom: 2px solid black;
  height: 25px;
}
.messContent{
  width: 100%;
  word-break: break-all;
}
#middleLine{
  width: 100%;
  height: 3px;
  background-color: grey;
}
.timeIdContainer{
  width: 300px;
}
#messagneSend{
  position: absolute;
  left: 24px;
  bottom: -30px;
}
#chatMessegnes{
  width: 290px;
  height: 50px;
  resize: none;
}
#finishMess{
  position: relative;
  top: -15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#sendBtn{
  height: 20px;
}
